img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

body {
    color: #443322;
    line-height: 1.7;
    font-family: Inter, 'Noto Sans TC', Philosopher, serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.home {
    background-image: url(./images/main-bg.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    display: flex;
}

.header-menu-item+.header-menu-item {
    margin-left: 36px;
}

.header-menu-item a {
    color: #443322;
    font-size: 20px;
}

.logo {
    display: block;
    width: 210px;
    height: 53px;
}

.title {
    font-family: Philosopher, Inter, serif;
    font-size: 80px;
    margin-bottom: 10px;
}

.subTitle {
    border-bottom: 1px solid #0bd;
}

.content {
    text-align: center;
    margin-top: 192px;
}

.home .content p {
    font-size: 18px;
    margin-bottom: 12px;
}

.button {
    background-color: #0BD;
    padding: 18px 32px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 22px;
}

.menu .banner {
    background-image: url(./images/menu-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* margin-bottom: 100px; */
}

.foodMenu {
    margin-top: 100px;
}

.foodList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.foodPic {
    width: 305px;
    height: 226px;
}

.foodTitle {
    font-size: 16px;
    margin-top: 8px;
}

footer {
    font-size: 14px;
    margin-top: 50px;
    background-color: #443322;
    color: #fff;
    text-align: center;
    padding: 28px 0;
}

/* ===========news=========================== */

.news .banner {
    background-image: url(./news-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-top: 17px; */
}

.news .content {
    margin-top: 17px;
    /* margin-bottom: 20px; */
}

.news-content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

article {
    width: 75%;
}

aside {
    width: 20%;
}

.newsTitle {
    display: flex;
}

.news-date {
    background-color: #00BBDD;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 26px;
    padding: 10px;
    position: relative;
    margin-right: 21px;
}

.news-date span::before {
    content: '';
    width: 70%;
    height: 1px;
    background-color: #fff;
    display: block;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.news-date span {
    font-size: 16px;
}

.articleTitle h2{
    font-size: 32px;
}

.articleTitle p{
    font-size: 16px;
}

.newsMenu-item {
    border-bottom: 1px solid #ddd;
}

.newsMenu-item a {
    color: #432;
    display: block;
    padding: 10px;
}


/* .news-pic {
    width: 704px;
    height: 434px;
    margin: 22px 0 40px 0;
} */

/* .news-aside {
    width: 20%;
} */

/* .news-aside h3 {
    font-size: 22px;
    border-bottom: 2px solid #00BBDD;
}

.news-aside ul {
    margin-bottom: 60px;
}

.news-aside li {
    font-size: 16px;
    border-bottom: 1px solid #00BBDD;
} */


/* 平板 */
@media screen and (max-width:992px) {

    .foodList {
        justify-content: flex-start;
    }

    .foodItem {
        width: 48%;
        height: auto;
    }

    .foodPic {
        width: 100%;
        height: auto;
    }

    .foodItem:nth-child(even) {
        margin-left: 4%;
    }

}

/* 手機 */

@media screen and (max-width:768px) {

    body {
        background-position: center;
    }

    /* .container{} */

    .nav {
        flex-wrap: wrap;
        margin-bottom: 75px;
    }

    .logo {
        margin: 0 auto;
        margin-top: 17px;
        margin-bottom: 27px;
    }

    .list {
        margin: 0 auto;
        /* width: 100%; */
    }

    main {
        margin: 0 auto;
        padding: 10px;
    }

    li {
        font-size: 16px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 16px;
    }

    /* ================================= */

    header {
        flex-direction: column;
    }

    .foodItem {
        width: 100%;
        height: auto;
    }

    .foodItem:nth-child(even) {
        margin-left: 0;
    }

    /* ==========news============================ */

    .news-content {
        flex-wrap: wrap;
    }

    article {
        width: 100%;
    }

    aside {
        width: 100%;
    }

    /* .news-news {
        flex-wrap: wrap;
    } */

    /* .news-main {
        width: 100%;
        margin-bottom: 60px;
    } */

    /* .news-pic {
        width: 100%;
        margin: 0;
        margin-top: 30px;
    } */

    /* .news-aside {
        width: 100%;
        margin: 20px;
    } */

    /* .news-aside ul {
        margin-bottom: 70px;
    } */

}